@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você Não tem Permissão para Acessar essa tela, <a asp-controller="Home" asp-action="Index">Clique aqui para Voltar para Home</a></p>